form(method="post" action="/register")
    table 
        tr
            td USN 
            td 
                input(type="text" name="usn")
        tr 
            td First Name 
            td 
                input(type="text" name="first_name")
        tr 
            td Last Name 
            td 
                input(type="text" name="last_name")
        tr
            td DOB
            td 
                input(type="date" name="dob")
        tr
            td Phone Number 
            td 
                input(type="number" name="phone")
        tr 
            td Branch 
            td 
                input(type="text" name="branch")
        
         
        tr 
            td Password 
            td 
                input(type="password" name="password")
        tr 
            td Confirm password 
            td 
                input(type="password" name="confirm-password")
        tr 
            td
            td
                input(type="submit" value="Register")